/* MEDIA QUERY FOR BROWSE PAGE */
@media (max-width: 768px) {
  /* Introduction to Browse Page Section*/
  .browse-intro {
    margin-top: 1rem;
  }
  .browse-intro p {
    padding: 0 2rem; 
  }

  .search-bar {
    gap: 5px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .search-bar input {
    width: 85%;
    max-width: none;
    height: fit-content;
    margin: 0;
    font-size: 1rem;
    padding: 10px;
  }

  .search-bar button {
    padding: 10px 15px;
    width: auto;
    flex-shrink: 0;
    margin: 0;
  }

  .search-bar button img {
    width: 12px;
    height: 12px;
  }

  .animal-icons {
    padding: 0 2rem; 
  }

  .animal-icons img {
    width: 50px;
    height: 50px;
  }

  /* Animal Cards Section */
  .animal-cards {
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px;
    padding: 20px 10px;
  }

  .card {
    padding: 15px; 
    width: 95%; 
  }

  .animal-detail img {
    height: auto; 
    max-height: 180px; 
    width: 100%; 
    object-fit: cover; 
  }

  /* CTA Section */
  .cta-section {
    padding: 30px 20px; 
  }

  .cta-text p {
    text-align: justify;
    padding: 0 2rem; 
  }

  .cta-text button {
    margin-top: 10px; 
    margin-bottom: 10px;
  }

  .cta-button {
    padding: 10px 20px;
    width: fit-content; 
    margin: 0 auto;      
  }

  /* No Result Gif */
  .noResultsGif img {
    max-width: 100%;
    height: auto; 
  }
}

/* MEDIA QUERY FOR BROWSE PAGE */
@media (max-width: 480px) {
  /* Introduction to Browse Page Section */
  .browse-intro {
    margin-top: 0.8rem; 
  }

  .browse-intro p {
    padding: 0 1rem; 
  }

  .search-bar {
    gap: 3px; 
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .search-bar input {
    width: 85%; 
    height: fit-content;
    margin: 0;
    font-size: 0.9rem;
    padding: 8px; 
  }

  .search-bar button {
    padding: 8px 12px; 
    width: auto;
    flex-shrink: 0;
    margin: 0;
  }

  .search-bar button img {
    width: 10px; 
    height: 10px; 
  }

  .animal-icons {
    padding: 0 1rem; 
  }

  .animal-icons img {
    width: 40px; 
    height: 40px; 
  }

  /* Animal Cards Section */
  .animal-cards {
    grid-template-columns: repeat(1, 1fr); 
    gap: 10px;
    padding: 10px 5px;
  }

  .card {
    padding: 10px; 
    width: 65%; 
  }

  .animal-detail img {
    height: auto; 
    max-height: 150px;
    width: 100%; 
    object-fit: cover; 
  }

  /* CTA Section */
  .cta-section {
    padding: 30px 20px; 
  }

  .cta-section h2 {
    font-size: 3rem;
  }

  .cta-text p {
    text-align: justify;
    padding: 0 1rem;
  }

  .cta-text button {
    margin-top: 5px; 
    margin-bottom: 5px; 
  }

  .cta-button {
    padding: 8px 16px; 
    width: fit-content; 
    margin: 0 auto;      
  }

  /* No Result Gif */
  .noResultsGif img {
    max-width: 100%;
    height: auto; 
  }
}
