/* Reset & Base */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Comic Neue", cursive;
  font-weight: 600;
  background-color: #fef2e7;
  overflow-x: hidden;
}

h1 {
  font-family: "Patrick Hand", cursive;
  font-size: 5rem;
  margin-bottom: 2px;
  color: #2b2e1b;
}

h2 {
  font-family: "Patrick Hand", cursive;
  font-size: 4rem;
  color: #2b2e1b;
}

h3 {
  font-family: "Patrick Hand", cursive;
  font-size: 3rem;
  margin: 2px;
  color: #2b2e1b;
}

p {
  line-height: 1.5;
  font-size: 1.1rem;
  color: #4d4b34;
}

li {
  font-family: "Comic Neue", cursive;
  line-height: 1.5;
  font-size: 1rem;
  color: #4d4b34;
}

footer p {
  font-size: 1rem;
}

img {
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

img:hover {
  opacity: 0.8;
  transform: scale(1.02);
  filter: brightness(0.9);
  cursor: pointer;
}

button{
  background-color: #d5684c;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  font-family: "Comic Neue", cursive;
  font-weight: 550;
  padding: 10px 16px; 
  transition: all 0.3s ease;
  width: auto;               
  display: inline-block;    
  margin: 0;
}

button:hover {
  background-color: #44492b;
  color: white;
  transform: scale(1.02);
  cursor: pointer;
}

main {
  margin-top: 5px; 
  padding: 0;
}

/* Header & Navigation */
header {
  background-color: #44492b;
  border-bottom: 4px solid #ddbba4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 0 25px;
}

nav:hover {
  cursor: pointer;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.nav-logo {
  height: 50px;
  width: auto;
  box-shadow: 0 0 0 0;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0 25px;
  padding: 0;
}

.nav-list li a {
  font-family: "Fredoka", sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: white;
  font-weight: 550;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.nav-list li a:hover {
  opacity: 0.8;
  transform: scale(1.02);
  cursor: pointer;
  color: #f8ebb2;
  transform: scale(1.05);  
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
  z-index: 1001;
}

/* Section Defaults */
section {
  width: 100%;
  padding: 0;
  margin: 0;
  max-width: 2200px;
}

.sectionAlt {
  background-color: #fbe3d5;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.sectionAlt:hover {
  transform: translateY(-5px); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); 
}

.browse-intro,
.adoption-steps,
.section-introduction,
.about-us {
  padding-top: 2.5rem;
}

/* Text Area */
.auto-expand {
  width: 100%;
  min-height: 50px;
  resize: none; 
  overflow: hidden;
}

 /* Form Container */
.form-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  padding: 40px 20px;
  margin-left: auto;
  margin-right: auto;
}

.volunteer-adoption-form {
  background-color: #dfdcda;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 30px;
}

.volunteer-adoption-form:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}
    
.volunteer-adoption-form input,
.volunteer-adoption-form textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  font-family: "Comic Neue";
  font-size: 0.8rem;
}
    
.volunteer-adoption-form input:hover,
.volunteer-adoption-form textarea:hover,
.volunteer-adoption-form input:focus,
.volunteer-adoption-form textarea:focus {
  border-color: #f3bda7;
  box-shadow: 0 0 5px #fddad1;
  outline: none;
}
    
.submit-button {
    width: 150px;
    display: block;
    margin: 50px auto 0 auto;
}

#backToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  font-size: 1rem;
  background-color: #d5684c;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  width: auto;
  display: inline-block; 
  display: none; 
  transition: all 0.3s ease;
}

#backToTop:hover {
  background-color: #44492b;
}
    
/* Footer */
footer:hover {
  transform: scale(1.05); 
}

footer {
  border-top: 4px solid #ddbba4;
  background-color: #4d4b34;
  text-align: center;
  padding: 25px 0;
}

footer p {
  color: white;
}

.footer-logo {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 5px;
}

.footer-logo img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 0 0;
  transition: transform 0.3s ease;
}

.footer-content p {
  margin: 0;
  font-size: 0.9em;
}

/*MEDIA QUERY FOR GENERAL STYLE*/
@media (max-width: 768px) {
  header {
    height: 100px;
  }
  
  .menu-toggle {
    display: block;
    z-index: 1001;
    margin-top: 1rem;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -300px; 
    width: 250px;
    height: 100%;
    background-color: rgba(68, 73, 43, 0.9);
    color: #ccc;
    text-align: left;
    padding: 2rem 1.5rem;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
  }

  .nav-list.show {
    right: 0; 
  }

  .nav-list li {
    margin: 1rem 0;
  }

  .nav-list li a {
    display: block;                   
    font-size: 1.4rem; 
    color: white;                      
    text-decoration: none;                     
    font-weight: 500;                                  
    border-radius: 8px;                
    transition: background-color 0.3s ease, color 0.3s ease; 
    padding: 10px; 
  }

  .nav-list li a:hover {
    color: lightgoldenrodyellow;
    background-color: #44492b;   
  }

  .nav-logo {
    margin-top: 10px;
    height: 70px;
    width: auto;
  }

  h1 { 
    font-size: 4rem; 
    line-height: 1.2;
  }
  
  h2 { 
    font-size: 3.5rem; 
    line-height: 1.2;
  } 
  
  h3 { 
    font-size: 2.5rem; 
    line-height: 1.2;
  }
 
  p, li, footer p { font-size: 1.2rem; } 

  .browse-intro,
  .adoption-steps,
  .section-introduction,
  .about-us {
    padding-top: 4rem;
  }

  .volunteer-adoption-form input,
  .volunteer-adoption-form textarea,
  .volunteer-adoption-form label {
    font-size: 1rem;
  }

  .form-container {
    flex-direction: column;
    padding: 20px 10px;
    gap: 20px;
    width: 90%; 
  }

  .volunteer-adoption-form {
    margin-left: 0;
    padding: 20px;
  }

  button,
  .submit-button, 
  #backToTop {
    width: fit-content;         
    margin: 30px auto 0 auto;
    padding: 12px 24px; 
    font-size: 1.2rem;   
  }

  .footer-logo {
    font-size: 1.2em; 
    margin-bottom: 10px; 
  }

  .footer-logo img {
    max-width: 70%; 
    height: auto;
    transition: transform 0.3s ease;  
    margin: 0 auto;  
  }

  .footer-content p {
    font-size: 0.9em; 
    margin: 10px 0;  
  }

  footer {
    padding: 15px 0;  
  }
}

/* MEDIA QUERY FOR GENERAL STYLE */
@media (max-width: 480px) {
  header {
    height: 80px; 
  }
  
  .menu-toggle {
    display: block;
    z-index: 1001;
    margin-top: 0.5rem; 
  }

  .nav-list {
    width: 200px;
    padding: 1.5rem 1rem; 
  }

  .nav-list li {
    margin: 0.5rem 0; 
  }

  .nav-list li a {
    font-size: 1.2rem; 
    padding: 8px; 
  }

  .nav-list li a:hover {
    color: lightgoldenrodyellow;
    background-color: #44492b;   
  }

  .nav-logo {
    margin-top: 5px;
    height: 50px; 
  }

  h1 { 
    font-size: 3rem;
    line-height: 1.2;
  }
  
  h2 { 
    font-size: 2.5rem; 
    line-height: 1.2;
  }
  
  h3 { 
    font-size: 2rem; 
    line-height: 1.2;
  }
 
  p, li, footer p { 
    font-size: 1rem; 
  }

  .browse-intro,
  .adoption-steps,
  .section-introduction,
  .about-us {
    padding-top: 2rem; 
  }

  .volunteer-adoption-form input,
  .volunteer-adoption-form textarea,
  .volunteer-adoption-form label {
    font-size: 0.9rem; 
  }

  .form-container {
    padding: 15px 5px; 
    gap: 15px; 
    width: 95%; 
  }

  .volunteer-adoption-form {
    padding: 15px; 
  }

  button,
  .submit-button, 
  #backToTop {
    width: fit-content;         
    margin: 20px auto 0 auto; 
    padding: 10px 20px; 
    font-size: 1rem; 
  }

  .footer-logo {
    font-size: 1em;
    margin-bottom: 5px; 
  }

  .footer-logo img {
    max-width: 80%; 
    height: auto;
    margin: 0 auto;  
  }

  .footer-content p {
    font-size: 0.8em; 
    margin: 5px 0; 
  }

  footer {
    padding: 10px 0; 
  }
}

