/* MEDIA QUERY FOR VOLUNTEER PAGE */
@media (max-width: 768px) {
  /* Page Introduction */
  .section-introduction img {
    max-width: 90%;
    height: auto;
    margin-top: 10px;
    object-fit: cover;
    box-shadow: none;
  }

  /* Why-Help Section*/
  .why-help-container {
    flex-direction: column;  
    gap: 20px;               
    margin: 20px auto;     
    padding: 2rem; 
  }

  .why-help,
  .image-container {
    flex: 1;
    min-width: 100%;       
    margin: 0 0 10px 0;     
  }

  .why-help p {
    text-align: justify;
  }

  .image-container img {
    max-width: 80%;
    height: auto;
    margin: 5px auto; 
    display: block;    
  }

  .text {
    margin: 20px; 
    text-align: center;  
  }

  /* Become a Volunteer Section*/
  .volunteer-info {
    flex: 1;
    padding: 1.5rem; 
  }

  .volunteer-info h2 {
    text-align: center;
  }

  .volunteer-info ul,
  .donate-text ul {
    padding-left: 4rem; 
  }

  .volunteer-info p {
    padding-left: 1rem; 
  }

  .volunteer-info button {
    display: block;       
    margin: 10px auto;     
  }

  /* Donate Section*/
  .donate-section, .partnerships {
    padding: 2rem; 
  }

  .donate-intro, .partnerships-intro {
    max-width: 100%;       
    padding: 0 20px;         
    margin: 20px auto;       
    text-align: justify;
    line-height: 1.6;     
  }

  .donate-methods,
  .partners {
    flex-direction: column; 
    gap: 15px;             
  }

  .donate-box {
    width: 70%;             
    max-width: 100%;        
    margin: 0 auto 20px;   
  }

  /* Partners Section */
  .partners {
    display: flex;
    flex-direction: column;     
    align-items: center;       
    justify-content: center;    
    gap: 20px;                  
  }

  .clickable-images {
    display: flex;
    justify-content: center;   
    width: 100%;               
  }

  .partner-logo {
    max-width: 100%;            
    height: auto;
  }

  /* Contact Information Section*/
  .contact {
    padding: 15px 10px;    
    text-align: center;
  }

  .contact h2 {
    margin: 15px 0;
  }

  .contact button {
    margin: 1rem;
    width: auto;        
    padding: 12px 24px; 
  }
}
